h1{
    color: blue;
}

main{
    display: flex;
    flex-direction: row; /*Por defecto inserta el row*/
    height: 450px;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-around;
}

/*
div {
    width: 250px;
    height: 100px;
}*/

.div{
    height: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /*4fr = 100% 25% 50% 25%*/
    grid-template-rows: 150px 100px 150px;
}

.item5{
    grid-column: 2;
    grid-row: 1;
}

.item9{
    grid-row: 1;
    grid-column: 3;
}

.item2{
    grid-row: 2;
    grid-column: 1/3;
}

.position > div{
    border: 2px solid black;
    background-color: red;
    width: 100px;
    height: 100px;
}

.position{
    /*display: flex;*/
    overflow-y: auto;
    height: 1000px;
}

.relative{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: yellow !important;
}

.absolute{
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: blue !important;
}

.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
}

.sticky{
    position: sticky;
    top: 20px;
    left: 0;
}